@using LOG.Models
@model  IEnumerable<LOG.Models.UploadModel>

<style type="text/css">
    #uploadTbody a {
        text-decoration: underline;
    }
</style>

@if (Model.Count() > 0) { 

    if(Convert.ToInt16(Model.FirstOrDefault().UploadType)==Upload.Vedio){
        
            <link rel="stylesheet" href="~/Vedio/animate.css" type="text/css">
            <link rel="stylesheet" href="~/Vedio/slider.css" type="text/css">

         <script src="~/Vedio/viedo-slider.js" type="text/javascript"></script>
    }
}

<div class="container">
    <div class="row mar-bot40" style="padding-top: 150px">

        <div class="awesome-carousel">
            <div id="awesome-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#awesome-carousel" data-slide-to="0" class=""></li>
                    <li data-target="#awesome-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#awesome-carousel" data-slide-to="2" class="active"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- slider item -->
                    <div class="item">
                        <img class="bg-img" src="~/Vedio/bg1.jpg" alt="slider one">
                        <div class="carousel-caption">
                            <div class="vslide1 posi-abs">
                                <iframe width="1200" height="600" src="https://www.youtube.com/embed/RZEcdcTlQzk" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div><!-- End slider item -->
                    <!-- slider item -->
                    <div class="item">
                        <img class="bg-img" src="~/Vedio/bg1.jpg" alt="slider one">
                        <div class="carousel-caption">
                            <div class="vslide2 posi-abs">
                                <iframe width="1200" height="600" src="https://www.youtube.com/embed/RZEcdcTlQzk" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div><!-- End slider item -->
                    <!-- slider item -->
                    <div class="item active">
                        <img class="bg-img" src="~/Vedio/bg1.jpg" alt="slider one">
                        <div class="carousel-caption">
                            <div class="vslide3 posi-abs">
                                <iframe width="1200" height="600" src="https://www.youtube.com/embed/RZEcdcTlQzk" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div><!-- End slider item -->
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#awesome-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#awesome-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mar-bot40" style="padding-top: 150px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>God's Messages</b>
            </div>
            <div class="panel-body">
                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th class="col-xs-4">Title</th>
                            <th class="col-xs-2">Type</th>
                            <th class="col-xs-6"></th>
                        </tr>
                    </thead>

                    <tbody id="uploadTbody">

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="col-xs-4">@item.Title</td>
                                <td class="col-xs-2">@(Upload.GetUploadType(item.UploadType))</td>
                                <td class="col-xs-6 text-center">


                                    @switch (Convert.ToInt16(item.UploadType))
                                    {

                                        case Upload.Tract:

                                        <a href="~/Gallery/@( Path.GetFileName(item.FilePath))" target="_blank"><span class="fa fa-file-pdf-o"></span>@item.Title</a>

                                            break;

                                        case Upload.Audio:
                                        <audio src="~/Gallery/@( Path.GetFileName(item.FilePath))" controls="controls">@item.Title</audio>
                                            break;

                                        case Upload.Vedio:
                                        @*<video controls="controls">

                                            <source src="https://www.youtube.com/embed/RZEcdcTlQzk" />
                                        </video>*@ 
                                    <iframe width="560" height="315" src="@item.URL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                                            break;

                                    }



                                </td>


                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
