@using LOG.Models

<style type="text/css">
    .table-fixed thead {
        width: 100%;
    }

    .table-fixed tbody {
        height: 230px;
        overflow-y: auto;
        width: 100%;
    }

        .table-fixed tbody td, .table-fixed thead > tr > th {
            float: left;
            border-bottom-width: 0;
        }


    .pull-left {
        text-align: left !important;
    }

    .panel-body {
        padding: 0px;
    }
</style>

@{var itemsList = ViewBag.Items as List<UploadModel>;}


<div class="container">
    <div class="row mar-bot40" style="padding-top: 150px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Uploaded Items</b>
                <button type="button" class="btn btn-primary pull-right" id="btnNewUpload"><span class="glyphicon glyphicon-plus"></span>Upload</button>
            </div>
            <div class="panel-body">
                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th class="col-xs-4">Title</th>
                            <th class="col-xs-2">Type</th>
                            <th class="col-xs-6"></th>
                        </tr>
                    </thead>

                    <tbody id="uploadTbody">

                        @foreach (var item in itemsList)
                        {
                            <tr>
                                <td class="col-xs-4">@item.Title</td>
                                <td class="col-xs-2">@(Upload.GetUploadType(item.UploadType))</td>
                                <td class="col-xs-5">


                                    @switch (Convert.ToInt16(item.UploadType))
                                    {

                                        case Upload.Tract:

                                        <a href="~/Gallery/@(Path.GetFileName(item.FilePath))" target="_blank">@item.Title</a>

                                            break;

                                        case Upload.Audio:
                                        <audio src="~/Gallery/@(Path.GetFileName(item.FilePath))" controls="controls">@item.Title</audio>
                                            break;

                                        case Upload.Vedio:
                                        
                                        <video controls="controls">

                                            <source src="~/Gallery/@(Path.GetFileName(item.FilePath))" type="video/ogg"/>
                                        </video>
                                            break;
                                        case Upload.Gallery:
                                        <img src="~/Gallery/@(Path.GetFileName(item.FilePath))" width="400" height="200" style="padding:5px" alt="Image not found" />
                                            break;

                                    }



                                </td>

                                <td class="col-xs-1">
                                    <button type="button" class="btn-danger" id="btnDelete" data-id="@item.UploadId"><span class="fa fa-remove"></span></button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/UploadScript.js"></script>
